body{
	background: #E4EEF3;
	color: grey;
	font-family: 'Dosis', sans-serif;
	font-weight: 300;

}

h1,h2 {
	font-family: Helvetica;
	font-weight: lighter;
	
}

h1{
	font-size: 30px;
	font-weight: 400
	color: #5B879D
}


h2{
	color: #5B879D
}

p{
	color: grey;
	letter-spacing: 0px;
}

a: hover {
	color: #5B879D;
}


div{
	background: #E4EEF3;
    padding: 20px 30px;
    margin: 50px;
    box-shadow: 0px 10px 30px #6EA4BF;
    border-radius: 8px;
}

#profil {
	border-radius: 70%;
	box-shadow: 2px 2px 3px grey;
}


.container {
	width: 700px;
	margin: 40px auto;
}

.card-design{
	text-align: center;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px
}

.list-inline i {
	font-size: 20px; 
	color: #6EA4BF;
}

.list-inline i:hover {
	font-size: 30px; 
	color: #6EA4BF;
}










